


$primary-color: rgb(167, 228, 221);
$secondary-color: rgb(130, 234, 222);
$accent-color: rgb(64, 43, 226);
$background-light: rgb(173, 235, 228);
$white: #fff;

$font-size-large: larger;
$font-size-medium: 18px;
$font-size-small: 16px;

$spacing-small: 10px;
$spacing-medium: 30px;
$spacing-large: 50px;




